{% extends "base.html" %}

{% block style %}
    <style>
        .inputDiv{
            margin-left: 200px;
            margin-right: 200px;
            margin-bottom: 50px;
        }
        .input-group-addon{
            width:700px;
        }
        .resCategory{
            width:300px;
            border-radius: 10px;
        }
        .input-group{
            margin:10px;
            width: 730px;
        }
        .resAddBtn{
            float:right;
        }
    </style>
{% endblock style %}
{% block script %}
    <script>
        function categoryAddCheckFrom(){
            if($('#categoryName').val().length <= 0){
                alert('추가할 카테고리 이름을 입력해주세요.')
                $('#categoryName').focus()
                return false;
            }
            else{
                return true;
            }
        }
    </script>
{% endblock script %}

{% block title %}{{ title }}{% endblock title %}

{% block title_main %}{{ title }}{% endblock title_main %}

{% block content %}
        <div class="content">
                <div class="inputDiv">
                    {% for category in categories %}
                    {% if category.category_name == '기본 그룹' %}
                        <div class="input-group">
                            <span class="input-group-addon" style="border:1px solid #ccc; border-radius: 4px;">{{ category.category_name }}</span>
                        </div>
                    {% endif %}
                    {% endfor %}
                    {% for category in categories %}
                    {% if category.category_name != '기본 그룹' %}
                    <form action="./delete" method="POST">{% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon" id="" style="border:1px solid #ccc; border-radius: 4px;">{{category.category_name}}</span>
                            <input type="hidden" name="categoryId" id="categoryId" value="{{category.id}}"/>
                            <input type="submit" class="resAddBtn btn btn-danger" role="button" value="삭제"/>
                        </div>
                    </form>
                    {% endif %}
                    {% endfor %}

                    <form action="./" method="POST" onsubmit="return categoryAddCheckFrom();">{% csrf_token %}
                        <div class="input-group">
                            <input type="submit" class="resAddBtn btn btn-success" role="button" value="추가"/>
                            {% for field in form %}
                            {{field}}
                            {% endfor %}
                        </div>
                    </form>
                    <a href ="/" class="resAddBtn btn btn-info" role="button">홈으로</a>
                </div>
            
        </div>
{% endblock content %}