{% extends "base.html" %}

{% block style %}
    <style>
        .inputDiv{
            margin-left: 200px;
            margin-right: 200px;
            margin-bottom: 50px;
        }
        select[size]{
            height: 28px;
        }
        .resCategory{
            width:300px;
            border-radius: 10px;
        }
        .input-group{
            margin:10px;
            width: 730px;
        }
        .resAddBtn{
            float:right;
        }
        input[readonly]:hover {
            cursor: pointer;
        }
    </style>
{% endblock style %}

{% block title %}{{ title }}{% endblock title %}

{% block title_main %}{{ title }}{% endblock title_main %}

{% block content %}
        <div class="content">
            <div class="inputDiv">
                {% for field in form %}
                <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">{{ field.label }}</span>
                {{field}}
                </div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span>{{error}}</span> 
                    {% endfor %}
                {% endif %}
                {% endfor %}
                <a href ="/" class="resAddBtn btn btn-info" role="button">홈으로</a>
                <a href ="./updatePage/{{restaurant.id}}" class="resAddBtn btn btn-danger" role="button">수정하기</a>
                <form action="./delete" method="POST">{% csrf_token %}
                    <input type="hidden" id="resId" name="resId" value="{{restaurant.id}}"/>
                    <input type="submit" class="resAddBtn btn btn-danger" value="삭제하기">
                </form>
            </div>
        </div>
{% endblock content %}