{% extends "base.html" %}

{% block style %}
    <style>
        .inputDiv{
            margin-left: 200px;
            margin-right: 200px;
            margin-bottom: 50px;
        }
        select[size]{
            height: 28px;
        }
        .resCategory{
            width:300px;
            border-radius: 10px;
        }
        .input-group{
            margin:10px;
            width: 730px;
        }
        .resAddBtn{
            float:right;
        }
    </style>
{% endblock style %}

{% block script %}
    <script>
        function checkFrom(){
            if ($('#resTitle').val().length <= 0){
                alert("맛집 이름을 입력해주세요.")
                $('#resTitle').focus()
                return false
            }else if($('#resLink').val().length <= 0){
                alert("관련 링크를 입력해주세요.")
                $('#resLink').focus()
                return false
            }else if($('#resContent').val().length <= 0){
                alert("상세 내용을 입력해주세요.")
                $('#resContent').focus()
                return false
            }else if($('#resLoc').val().length <= 0){
                alert("장소 키워드를 입력해주세요.")
                $('#resLoc').focus()
                return false
            }else{
                return true
            }
        }
    </script>
{% endblock script %}

{% block title %}{% endblock title %}

{% block title_main %}{% endblock title_main %}

{% block content %}
<div class="content">
    <form action="./" method="POST" onsubmit="return checkFrom();">{% csrf_token %}
        {% for field in form %}
        <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">{{ field.label }}</span>
        {{field}}
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <span>{{error}}</span> 
            {% endfor %}
        {% endif %}
        {% endfor %}
        <input type="submit" class="resAddBtn btn btn-info" role="button" value="맛집 추가!"/>
    </form>
</div>
{% endblock content %}