{% extends "base.html" %}

{% block style %}
    <style>
        .inputDiv{
            margin-left: 200px;
            margin-right: 200px;
            margin-bottom: 50px;
        }
        select[size]{
            height: 28px;
        }
        .resCategory{
            width:300px;
            border-radius: 10px;
        }
        .input-group{
            margin:10px;
            width: 730px;
        }
        .resAddBtn{
            float:right;
        }
    </style>
{% endblock style %}

{% block script %}
    <script>
        function checkFrom(){
            if ($('#review').val().length <= 0){
                alert("리뷰를 작성해주세요.")
                $('#resTitle').focus()
                return false
            }else{
                return true
            }
        }
    </script>
{% endblock script %}

{% block title %}{{ title }}{% endblock title %}

{% block title_main %}{{ title }}{% endblock title_main %}

{% block content %}
<div class="content">
    <form action="{% url 'reviews:revUpdate' rev_id %}" method="POST" onsubmit="return checkFrom();">{% csrf_token %}
        {% for field in form %}
        <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">{{ field.label }}</span>
        {{field}}
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <span>{{error}}</span> 
            {% endfor %}
        {% endif %}
        {% endfor %}
        <input type="submit" class="resAddBtn btn btn-info" role="button" value="리뷰수정"/>
    </form>
</div>
{% endblock content %}